carscanneralpha/
test/
train/
valid/

*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.env

.env
*.yaml

annotate_modell.py
app_gh.py
app_v2.py
modell_from_scratch.py

*.log
*.tmp
*.bak

.DS_Store
Thumbs.db

.vscode/
.idea/

