<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Damage Detection</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Car Damage Detection</h1>
        <form action="/upload" method="post" enctype="multipart/form-data" class="mt-3">
            <div class="form-group">
                <label for="imageUpload">Upload Image</label>
                <input type="file" class="form-control-file" id="imageUpload" name="file" accept=".jpg, .jpeg, .png">
            </div>
            <button type="submit" class="btn btn-primary">Upload Image</button>
        </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


